#header{
    background-color: black;
}

#headbutton {
    color: #ebe3e3;
    background: #FEA116;
    padding: 8px 20px;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    margin: 9px;
  }

  #logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #f0eceb;
  
  }
  
  .navbar .fa {
    color: #e6dddb;
  
  }
  
  .navbar li {
    margin: 6px;
    padding: 1px;
    text-transform: uppercase;
  
  }
  .navbar-nav ul{
    list-style-type: none;
  }
  
  .navbar li a {
  
    color: #797473;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  
  }
  
  .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
  .navbar li:hover:after {
    content: "";
    display: block;
    background-color: #797473;
    height: 3px;
  
  }
  
  .navbar li:after,
  .navbar li:before {
    content: "";
    display: block;
    height: 3px;
  }

  #banner{
    background-color: black;
}

#banner {
  background-color: black;
}

#banner_heading h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-weight: 400;
  color: #fff;
  font-weight: bold;
 
  font-size: 52px;
  text-transform: uppercase;
}

#banner_heading p {
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
}

/* #banner-button .fa-solid {
  color: red;
} */

#banner-button button {
  color: #ebe3e3;
  background: #FEA116;
  padding: 8px 20px;
  margin-left: 30px;
  margin-right: 8px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;

}

/* .icon {
  color:#FEA116;
} */

/* 
#education{
  background-color: black;
} */
.card{
  background-color: #FEA116;
}

.card-body h5{
  font-size: 25px;
  color: #ebe3e3;
}
.card-body h6{
  font-size: 25px;
  color: #ebe3e3;
}
.card-body p{
  font-size: 15px;
  color: #ebe3e3;
}

.section {
  margin-top: 70px;
  margin-bottom: 70px;
}

.servicecol {
  background-color: rgb(233, 228, 228);
  margin-left: 6px;
}

.servicecol:hover{
  background-color: #FEA116;
  color: #fff;
}

.servicecol:hover i{
  color: #fff;
}