#header{
    background-color: black;
}

#headbutton {
    color: #ebe3e3;
    background: #fe3411;
    padding: 8px 20px;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    margin: 9px;
  }

  #logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #f0eceb;
  
  }
  
  .navbar .fa {
    color: #e6dddb;
  
  }
  
  .navbar li {
    margin: 6px;
    padding: 1px;
    text-transform: uppercase;
  
  }
  
  .navbar li a {
  
    color: #797473;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  
  }
  
  .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
  .navbar li:hover:after {
    content: "";
    display: block;
    background-color: #797473;
    height: 3px;
  
  }
  
  .navbar li:after,
  .navbar li:before {
    content: "";
    display: block;
    height: 3px;
  }