<form action="/upload" enctype="multipart/form-data" method="post">
   
      <input type="file" class="form-control-file" name="profileImage"/>
      <!-- <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers"> -->
      <button type="submit">Submit</button>            
  </form>